scripts/data/
reports/
node_modules/
testresults/
stats/
docs/*
.vagrant/
coverage/

*.tar.gz
*.tgz
*.swp
*.log
*.zat

.tag*
.idea*
checkstyle-result.xml
coverage.*
junit.xml
shippable/

clientid.txt
clientsecret.txt
tmp
.env
package-lock.json
